main(role="main")
  article(id="article" class="article")
    .article-info
      span.genre.houmu 法務
      span.date 2016年6月30日
      .sns-area
    h2.article-title
      span.sub-title 「億り人」になる最後の決め手は、知識でも初期資金量でもない
      | 「ランニング命！」が挫折の根本原因？ 働くランナーがやってはいけない5つのこと
    .writer
      .writer-image
        p
          img(src="http://via.placeholder.com/80x80/283962/fff/?text=spc01", alt="")
      .writer-info
        p.writer-name
          | 社会保険労務士 ○○○○
          span.office （△△△△△△所属）
        p.writer-profile
          | 著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール著者プロフィール
        p.writer-website
          a(href="" target="_blank") 著者サイトへのリンク
    .main-image
      p
        img(src="/images/top/slides_01.jpg", alt="「ランニング命！」が挫折の根本要因？")
    section.text
      h3 見出しです。見出しです。
      p
        | ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。
      p
        | ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。
      .clearfix
        figure(class="figure-half figure-left")
          img(src="http://via.placeholder.com/400x300/bbb/fff/?text=figure01" alt="")
        p
          | ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。
    section.text
      h3 見出し2です。見出し2です。
      p
        | ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。
      figure(class="figure-full")
        img(src="http://via.placeholder.com/1200x700/bbb/fff/?text=figure02" alt="")
        figcaption
          | 上の写真の説明文等がここに入ります。上の写真の説明文等がここに入ります。上の写真の説明文等がここに入ります。上の写真の説明文等がここに入ります。上の写真の説明文等がここに入ります。
      p
        img(src="" alt="" class="image image-left")
        | ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。
      p
        | ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。
    section.text
      h3 見出し3です。見出し3です。
      p
        | ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。
      .clearfix
        figure.figure-half.figure-right
          img(src="http://via.placeholder.com/400x300/bbb/fff/?text=figure03" alt="")
        p
          | ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。
      p
        img(src="" alt="" class="image image-left")
        | ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。
      p
        | ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。ここに本文がはいります。
    .pager
      ul
        li.current
          a(href="#") 1
        li
          a(href="#") 2
        li
          a(href="#") 3
        li
          a(href="#") 4
        li.next
          a(href="#") 次へ
    .article-subcontents
      p ※著者に関連するサブコンテンツ等のスペース
  section#related
    include ../_related
  section#recommend
    include ../_recommend
