header#header
  .top
    .top-contents
      p.top-desc 法務・税務・労務のプロと企業を結ぶポータルサイト
      ul.top-sitenavi
        li
          a(href="#") 本サイトについて
        li
          a(href="#") お問い合わせ
        li
          a(href="#") サイトマップ
  .header-contents
    h1
      a(href="/")
        img(src="/images/common/main_title.png", alt="実務家Link.com")
    .search
      form
        input(type="text" placeholder="記事を検索")
        label.search-icon(for="search_button")
          input(type="button" id="search_button")
    nav#page-navi
      ul
        li
          a(href="#") 法務
        li
          a(href="#") 税務
        li
          a(href="#") 労務
        li
          a(href="#") スキル
        li
          a(href="#") ビジネス
        li
          a(href="#") 基礎知識
        li
          a(href="#") 専門家コラム
