section#ranking
  h2 人気ランキング
  ol.ranking-articles
    li
      a(href="#")
        .ranking-article-image
          img(src="http://via.placeholder.com/100x100/a17164/fff/?text=ranking01", alt="")
        .ranking-article-introduction
          p.ranking-article-icon
            span.houmu 法務
          p.ranking-article-title 「億り人」になる最後の決め手は、知識でも初期資金量…
    li
      a(href="#")
        .ranking-article-image
          img(src="http://via.placeholder.com/100x100/a17164/fff/?text=ranking02", alt="")
        .ranking-article-introduction
          p.ranking-article-icon
            span.houmu 法務
          p.ranking-article-title 「億り人」になる最後の決め手は、知識でも初期資金量…
    li
      a(href="#")
        .ranking-article-image
          img(src="http://via.placeholder.com/100x100/a17164/fff/?text=ranking03", alt="")
        .ranking-article-introduction
          p.ranking-article-icon
            span.houmu 法務
          p.ranking-article-title 「億り人」になる最後の決め手は、知識でも初期資金量…
    li
      a(href="#")
        .ranking-article-image
          img(src="http://via.placeholder.com/100x100/a17164/fff/?text=ranking04", alt="")
        .ranking-article-introduction
          p.ranking-article-icon
            span.houmu 法務
          p.ranking-article-title 「億り人」になる最後の決め手は、知識でも初期資金量…
    li
      a(href="#")
        .ranking-article-image
          img(src="http://via.placeholder.com/100x100/a17164/fff/?text=ranking05", alt="")
        .ranking-article-introduction
          p.ranking-article-icon
            span.houmu 法務
          p.ranking-article-title 「億り人」になる最後の決め手は、知識でも初期資金量…
section.ad-area
  p
    a(href="#")
      img(src="http://via.placeholder.com/300x250/ccc/fff/?text=Ad", alt="")
section.banner-area
  p.banner
    a(href="#")
      img(src="http://via.placeholder.com/300x80/666/fff/?text=Bnr01", alt="")
  p.banner
    a(href="#")
      img(src="http://via.placeholder.com/300x80/666/fff/?text=Bnr02", alt="")
section#experts
  h2 専門家紹介
  ul
    li
      a(href="#")
        .experts-image
          p
            img(src="http://via.placeholder.com/80x80/283962/fff/?text=spc01", alt="")
        .experts-personality
          p.experts-category 弁護士
          p.experts-name 丸山 丸男
          p.experts-office （丸川事務所 所属）
    li
      a(href="#")
        .experts-image
          p
            img(src="http://via.placeholder.com/80x80/283962/fff/?text=spc02", alt="")
        .experts-personality
          p.experts-category 弁護士
          p.experts-name 丸山 丸男
          p.experts-office （丸川事務所 所属）
    li
      a(href="#")
        .experts-image
          p
            img(src="http://via.placeholder.com/80x80/283962/fff/?text=spc03", alt="")
        .experts-personality
          p.experts-category 弁護士
          p.experts-name 丸山 丸男
          p.experts-office （丸川事務所 所属）
    li
      a(href="#")
        .experts-image
          p
            img(src="http://via.placeholder.com/80x80/283962/fff/?text=spc04", alt="")
        .experts-personality
          p.experts-category 弁護士
          p.experts-name 丸山 丸男
          p.experts-office （丸川事務所 所属）
    li
      a(href="#")
        .experts-image
          p
            img(src="http://via.placeholder.com/80x80/283962/fff/?text=spc05", alt="")
        .experts-personality
          p.experts-category 弁護士
          p.experts-name 丸山 丸男
          p.experts-office （丸川事務所 所属）
section.ad-area
  p
    a(href="#")
      img(src="http://via.placeholder.com/300x250/ccc/fff/?text=Ad", alt="")
section#twitter
  p TWITTER_Area
section.banner-area
  p.banner
    a(href="#")
      img(src="http://via.placeholder.com/300x80/666/fff/?text=Bnr03", alt="")
