main(role="main")
  section#main-slide
    .main-slide-area
      ul.slides.active.clearfix
        li
          a(href="/article.html")
            img(src="/images/top/slides_01.jpg", alt="「ランニング命！」が挫折の根本要因？")
            span 「ランニング命！」が挫折の根本要因？ 働くランナーがやってはいけない5つのこと
        li
          a(href="#article02")
            img(src="http://via.placeholder.com/730x425/cc00cc/fff/?text=slide02", alt="「ランニング命！」が挫折の根本要因？")
            span 「ウォーキング命！」が破滅の根本要因？ 休むウォーカーがやらなくてはいけない8つのこと
        li
          a(href="#article03")
            img(src="http://via.placeholder.com/730x425/a2e6fb/fff/?text=slide03", alt="「ランニング命！」が挫折の根本要因？")
            span 「リスニング命！」が病気の間接要因？ 寝るリスナーがやってみてもいい2つのこと
        li
          a(href="#article04")
            img(src="http://via.placeholder.com/730x425/ffc8e2/fff/?text=slide04", alt="「ランニング命！」が挫折の根本要因？")
            span 「ランニング命！」が挫折の根本要因？ 働くランナーがやってはいけない5つのこと
        li
          a(href="#article05")
            img(src="http://via.placeholder.com/730x425/e2ffc8/fff/?text=slide05", alt="「ランニング命！」が挫折の根本要因？")
            span 「ランニング命！」が挫折の根本要因？ 働くランナーがやってはいけない5つのこと
          //- .absbox
          //-   ul
          //-     li
          //-       a(href="#")
          //-         img(src="/images/top/slides_01.jpg", alt="「ランニング命！」が挫折の根本要因？")
          //-         span 「ランニング命！」が挫折の根本要因？ 働くランナーがやってはいけない5つのこと
  section#recommend
    include ../_recommend
  section#new
    h2 新着記事
    ul.new-articles
      li
        a(href="/article.html")
          .new-article-image
            img(src="http://via.placeholder.com/230x173/00aba9/fff/?text=atc01", alt="")
          .new-article-introduction
            p.new-article-icon
              span.houmu 法務
              span.business ビジネス
            h3.new-article-title もう50歳？ まだ50歳？ 悩める50代のためのライフプランニング
            p.new-article-aside
              span.date 2017.06.25
              span.series 50歳からのキャリアプランニング 第10回
              span.series-option （最終回）
            p.new-article-description
              | 50代って若いのでしょうか？ それともシニアなのでしょうか？ 筆者が学生だった1970年代、企業の定年は55歳（！）でした。50代は現役生活とリタイア生活の両方を味わう世代だったのです。なんと女性ならば…
      li
        a(href="#")
          .new-article-image
            img(src="http://via.placeholder.com/230x173/00aba9/fff/?text=atc02", alt="")
          .new-article-introduction
            p.new-article-icon
              span.houmu 法務
              span.business ビジネス
            h3.new-article-title もう50歳？ まだ50歳？ 悩める50代のためのライフプランニング
            p.new-article-aside
              span.date 2017.06.25
              span.series 50歳からのキャリアプランニング 第10回
              span.series-option （最終回）
            p.new-article-description
              | 50代って若いのでしょうか？ それともシニアなのでしょうか？ 筆者が学生だった1970年代、企業の定年は55歳（！）でした。50代は現役生活とリタイア生活の両方を味わう世代だったのです。なんと女性ならば…
      li
        a(href="#")
          .new-article-image
            img(src="http://via.placeholder.com/230x173/00aba9/fff/?text=atc03", alt="")
          .new-article-introduction
            p.new-article-icon
              span.houmu 法務
              span.business ビジネス
            h3.new-article-title もう50歳？ まだ50歳？ 悩める50代のためのライフプランニング
            p.new-article-aside
              span.date 2017.06.25
              span.series 50歳からのキャリアプランニング 第10回
              span.series-option （最終回）
            p.new-article-description
              | 50代って若いのでしょうか？ それともシニアなのでしょうか？ 筆者が学生だった1970年代、企業の定年は55歳（！）でした。50代は現役生活とリタイア生活の両方を味わう世代だったのです。なんと女性ならば…
      li
        a(href="#")
          .new-article-image
            img(src="http://via.placeholder.com/230x173/00aba9/fff/?text=atc04", alt="")
          .new-article-introduction
            p.new-article-icon
              span.houmu 法務
              span.business ビジネス
            h3.new-article-title もう50歳？ まだ50歳？ 悩める50代のためのライフプランニング
            p.new-article-aside
              span.date 2017.06.25
              span.series 50歳からのキャリアプランニング 第10回
              span.series-option （最終回）
            p.new-article-description
              | 50代って若いのでしょうか？ それともシニアなのでしょうか？ 筆者が学生だった1970年代、企業の定年は55歳（！）でした。50代は現役生活とリタイア生活の両方を味わう世代だったのです。なんと女性ならば…
      li
        a(href="#")
          .new-article-image
            img(src="http://via.placeholder.com/230x173/00aba9/fff/?text=atc05", alt="")
          .new-article-introduction
            p.new-article-icon
              span.houmu 法務
              span.business ビジネス
            h3.new-article-title もう50歳？ まだ50歳？ 悩める50代のためのライフプランニング
            p.new-article-aside
              span.date 2017.06.25
              span.series 50歳からのキャリアプランニング 第10回
              span.series-option （最終回）
            p.new-article-description
              | 50代って若いのでしょうか？ それともシニアなのでしょうか？ 筆者が学生だった1970年代、企業の定年は55歳（！）でした。50代は現役生活とリタイア生活の両方を味わう世代だったのです。なんと女性ならば…
      li
        a(href="#")
          .new-article-image
            img(src="http://via.placeholder.com/230x173/00aba9/fff/?text=atc06", alt="")
          .new-article-introduction
            p.new-article-icon
              span.houmu 法務
              span.business ビジネス
            h3.new-article-title もう50歳？ まだ50歳？ 悩める50代のためのライフプランニング
            p.new-article-aside
              span.date 2017.06.25
              span.series 50歳からのキャリアプランニング 第10回
              span.series-option （最終回）
            p.new-article-description
              | 50代って若いのでしょうか？ それともシニアなのでしょうか？ 筆者が学生だった1970年代、企業の定年は55歳（！）でした。50代は現役生活とリタイア生活の両方を味わう世代だったのです。なんと女性ならば…
      li
        a(href="#")
          .new-article-image
            img(src="http://via.placeholder.com/230x173/00aba9/fff/?text=atc07", alt="")
          .new-article-introduction
            p.new-article-icon
              span.houmu 法務
              span.business ビジネス
            h3.new-article-title もう50歳？ まだ50歳？ 悩める50代のためのライフプランニング
            p.new-article-aside
              span.date 2017.06.25
              span.series 50歳からのキャリアプランニング 第10回
              span.series-option （最終回）
            p.new-article-description
              | 50代って若いのでしょうか？ それともシニアなのでしょうか？ 筆者が学生だった1970年代、企業の定年は55歳（！）でした。50代は現役生活とリタイア生活の両方を味わう世代だったのです。なんと女性ならば…
    .pager
      ul
        li.current
          a(href="#") 1
        li
          a(href="#") 2
        li
          a(href="#") 3
        li
          a(href="#") 4
        li.next
          a(href="#") 次へ
