nav#page-navi
  ul
    li
      a(href="#") 法務
      include _pageNaviInner
    li
      a(href="#") 税務
      include _pageNaviInner2
    li
      a(href="#") 労務
      include _pageNaviInner
    li
      a(href="#") スキル
      include _pageNaviInner2
    li
      a(href="#") ビジネス
      include _pageNaviInner
    li
      a(href="#") 基礎知識
      include _pageNaviInner2
    li
      a(href="#") 専門家コラム
      include _pageNaviInner
