.page-navi-inner-wrap
  .page-navi-inner
    .page-navi-inner-recommend
      ul
        li
          a(href="/article.html")
            img(src="http://via.placeholder.com/230x173/6767ee/fff/?text=recm01", alt="")
            span 金銭トラブルを防ぐ「借用証（借用書）」「念書」の書き方
        li
          a(href="#")
            img(src="http://via.placeholder.com/230x173/6767ee/fff/?text=recm02", alt="")
            span 「億り人」になる最後の決め手は、知識でも初期資金量
        li
          a(href="#")
            img(src="http://via.placeholder.com/230x173/6767ee/fff/?text=recm03", alt="")
            span 「億り人」になる最後の決め手は、知識でも初期資金量
        li
          a(href="/article.html")
            img(src="http://via.placeholder.com/230x173/6767ee/fff/?text=recm01", alt="")
            span 金銭トラブルを防ぐ「借用証（借用書）」「念書」の書き方
        li
          a(href="#")
            img(src="http://via.placeholder.com/230x173/6767ee/fff/?text=recm02", alt="")
            span 「億り人」になる最後の決め手は、知識でも初期資金量
        li
          a(href="#")
            img(src="http://via.placeholder.com/230x173/6767ee/fff/?text=recm03", alt="")
            span 「億り人」になる最後の決め手は、知識でも初期資金量
    .page-navi-inner-new
      ul
        li
          a(href="/article.html")
            img(src="http://via.placeholder.com/100x100/a17164/fff/?text=ranking03", alt="")
            span 金銭トラブルを防ぐ「借用証（借用書）」「念書」の書き方
        li
          a(href="#")
            img(src="http://via.placeholder.com/100x100/a17164/fff/?text=ranking03", alt="")
            span 「億り人」になる最後の決め手は、知識でも初期資金量
        li
          a(href="#")
            img(src="http://via.placeholder.com/100x100/a17164/fff/?text=ranking03", alt="")
            span 「億り人」になる最後の決め手は、知識でも初期資金量
        li
          a(href="#")
            img(src="http://via.placeholder.com/100x100/a17164/fff/?text=ranking03", alt="")
            span 「億り人」になる最後の決め手は、知識でも初期資金量
        li
          a(href="#")
            img(src="http://via.placeholder.com/100x100/a17164/fff/?text=ranking03", alt="")
            span 「億り人」になる最後の決め手は、知識でも初期資金量
