doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    meta(name="description", content="実務家Link.com")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="Content-Style-Type" content="text/css")
    meta(http-equiv="Content-Script-Type" content="text/javascript")
    // OGP
    // /OGP
    title 実務家Link.com
    //- link(rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/notosansjapanese.css")
    link(rel="stylesheet" href="/styles/style.css")
    script(type="text/javascript", src="/scripts/script.js")
  body
    include inc/_header
    #contents.clearfix
      // メインコンテンツ
      .main-contents
        main(role="main")
          section#main-slide
            .main-slide-area
              ul.slides.clearfix
                li
                  a(href="#")
                    img(src="/images/top/slides_01.jpg", alt="「ランニング命！」が挫折の根本要因？")
                    span 「ランニング命！」が挫折の根本要因？ 働くランナーがやってはいけない5つのこと
                li
                  a(href="#")
                    img(src="http://via.placeholder.com/730x425/cc00cc/fff/?text=slide02", alt="「ランニング命！」が挫折の根本要因？")
                    span 「ウォーキング命！」が破滅の根本要因？ 休むウォーカーがやらなくてはいけない8つのこと
                li
                  a(href="#")
                    img(src="http://via.placeholder.com/730x425/a2e6fb/fff/?text=slide03", alt="「ランニング命！」が挫折の根本要因？")
                    span 「ランニング命！」が挫折の根本要因？ 働くランナーがやってはいけない5つのこと
                li
                  a(href="#")
                    img(src="http://via.placeholder.com/730x425/ffc8e2/fff/?text=slide04", alt="「ランニング命！」が挫折の根本要因？")
                    span 「ランニング命！」が挫折の根本要因？ 働くランナーがやってはいけない5つのこと
                li
                  a(href="#")
                    img(src="http://via.placeholder.com/730x425/e2ffc8/fff/?text=slide05", alt="「ランニング命！」が挫折の根本要因？")
                    span 「ランニング命！」が挫折の根本要因？ 働くランナーがやってはいけない5つのこと
          section#recommend
            h2 おすすめ
            ul.recommend-articles
              li
                a(href="#")
                  img(src="http://via.placeholder.com/230x173/ff8585/fff/?text=recm01", alt="")
                  span 金銭トラブルを防ぐ「借用証（借用書）」「念書」の書き方
              li
                a(href="#")
                  img(src="http://via.placeholder.com/230x173/ff8585/fff/?text=recm02", alt="")
                  span 「億り人」になる最後の決め手は、知識でも初期資金量
              li
                a(href="#")
                  img(src="http://via.placeholder.com/230x173/ff8585/fff/?text=recm03", alt="")
                  span 元銀座No.1ホステスが教える「また会いたい」のはこんな人
              li
                a(href="#")
                  img(src="http://via.placeholder.com/230x173/ff8585/fff/?text=recm04", alt="")
                  span 「バイトリーダー」そんな学生が「無い内定」なわけ
              li
                a(href="#")
                  img(src="http://via.placeholder.com/230x173/ff8585/fff/?text=recm05", alt="")
                  span あっと驚く―手を打ち出すラテラル・シンキングって何だ？
              li
                a(href="#")
                  img(src="http://via.placeholder.com/230x173/ff8585/fff/?text=recm06", alt="")
                  span 「直感主義者」のマジック・ワードが社会問題をつくり出す
          section#new
            h2 新着記事
            ul.new-articles
              li
                a(href="#")
                  .new-article-image
                    img(src="http://via.placeholder.com/230x173/00aba9/fff/?text=atc01", alt="")
                  .new-article-introduction
                    p.new-article-icon
                      span.houmu 法務
                      span.business ビジネス
                    h3.new-article-title もう50歳？ まだ50歳？ 悩める50代のためのライフプランニング
                    p.new-article-aside
                      span.date 2017.06.25
                      span.series 50歳からのキャリアプランニング 第10回
                      span.series-option （最終回）
                    p.new-article-description
                      | 50代って若いのでしょうか？ それともシニアなのでしょうか？ 筆者が学生だった1970年代、企業の定年は55歳（！）でした。50代は現役生活とリタイア生活の両方を味わう世代だったのです。なんと女性ならば…
              li
                a(href="#")
                  .new-article-image
                    img(src="http://via.placeholder.com/230x173/00aba9/fff/?text=atc02", alt="")
                  .new-article-introduction
                    p.new-article-icon
                      span.houmu 法務
                      span.business ビジネス
                    h3.new-article-title もう50歳？ まだ50歳？ 悩める50代のためのライフプランニング
                    p.new-article-aside
                      span.date 2017.06.25
                      span.series 50歳からのキャリアプランニング 第10回
                      span.series-option （最終回）
                    p.new-article-description
                      | 50代って若いのでしょうか？ それともシニアなのでしょうか？ 筆者が学生だった1970年代、企業の定年は55歳（！）でした。50代は現役生活とリタイア生活の両方を味わう世代だったのです。なんと女性ならば…
              li
                a(href="#")
                  .new-article-image
                    img(src="http://via.placeholder.com/230x173/00aba9/fff/?text=atc03", alt="")
                  .new-article-introduction
                    p.new-article-icon
                      span.houmu 法務
                      span.business ビジネス
                    h3.new-article-title もう50歳？ まだ50歳？ 悩める50代のためのライフプランニング
                    p.new-article-aside
                      span.date 2017.06.25
                      span.series 50歳からのキャリアプランニング 第10回
                      span.series-option （最終回）
                    p.new-article-description
                      | 50代って若いのでしょうか？ それともシニアなのでしょうか？ 筆者が学生だった1970年代、企業の定年は55歳（！）でした。50代は現役生活とリタイア生活の両方を味わう世代だったのです。なんと女性ならば…
              li
                a(href="#")
                  .new-article-image
                    img(src="http://via.placeholder.com/230x173/00aba9/fff/?text=atc04", alt="")
                  .new-article-introduction
                    p.new-article-icon
                      span.houmu 法務
                      span.business ビジネス
                    h3.new-article-title もう50歳？ まだ50歳？ 悩める50代のためのライフプランニング
                    p.new-article-aside
                      span.date 2017.06.25
                      span.series 50歳からのキャリアプランニング 第10回
                      span.series-option （最終回）
                    p.new-article-description
                      | 50代って若いのでしょうか？ それともシニアなのでしょうか？ 筆者が学生だった1970年代、企業の定年は55歳（！）でした。50代は現役生活とリタイア生活の両方を味わう世代だったのです。なんと女性ならば…
              li
                a(href="#")
                  .new-article-image
                    img(src="http://via.placeholder.com/230x173/00aba9/fff/?text=atc05", alt="")
                  .new-article-introduction
                    p.new-article-icon
                      span.houmu 法務
                      span.business ビジネス
                    h3.new-article-title もう50歳？ まだ50歳？ 悩める50代のためのライフプランニング
                    p.new-article-aside
                      span.date 2017.06.25
                      span.series 50歳からのキャリアプランニング 第10回
                      span.series-option （最終回）
                    p.new-article-description
                      | 50代って若いのでしょうか？ それともシニアなのでしょうか？ 筆者が学生だった1970年代、企業の定年は55歳（！）でした。50代は現役生活とリタイア生活の両方を味わう世代だったのです。なんと女性ならば…
              li
                a(href="#")
                  .new-article-image
                    img(src="http://via.placeholder.com/230x173/00aba9/fff/?text=atc06", alt="")
                  .new-article-introduction
                    p.new-article-icon
                      span.houmu 法務
                      span.business ビジネス
                    h3.new-article-title もう50歳？ まだ50歳？ 悩める50代のためのライフプランニング
                    p.new-article-aside
                      span.date 2017.06.25
                      span.series 50歳からのキャリアプランニング 第10回
                      span.series-option （最終回）
                    p.new-article-description
                      | 50代って若いのでしょうか？ それともシニアなのでしょうか？ 筆者が学生だった1970年代、企業の定年は55歳（！）でした。50代は現役生活とリタイア生活の両方を味わう世代だったのです。なんと女性ならば…
              li
                a(href="#")
                  .new-article-image
                    img(src="http://via.placeholder.com/230x173/00aba9/fff/?text=atc07", alt="")
                  .new-article-introduction
                    p.new-article-icon
                      span.houmu 法務
                      span.business ビジネス
                    h3.new-article-title もう50歳？ まだ50歳？ 悩める50代のためのライフプランニング
                    p.new-article-aside
                      span.date 2017.06.25
                      span.series 50歳からのキャリアプランニング 第10回
                      span.series-option （最終回）
                    p.new-article-description
                      | 50代って若いのでしょうか？ それともシニアなのでしょうか？ 筆者が学生だった1970年代、企業の定年は55歳（！）でした。50代は現役生活とリタイア生活の両方を味わう世代だったのです。なんと女性ならば…
            .pager
              ul
                li.current
                  a(href="#") 1
                li
                  a(href="#") 2
                li
                  a(href="#") 3
                li
                  a(href="#") 4
                li.next
                  a(href="#") 次へ
      // /メインコンテンツ
      // サイドコンテンツ
      .side-contents
        section#ranking
          h2 人気ランキング
          ol.ranking-articles
            li
              a(href="#")
                .ranking-article-image
                  img(src="http://via.placeholder.com/100x100/a17164/fff/?text=ranking01", alt="")
                .ranking-article-introduction
                  p.ranking-article-icon
                    span.houmu 法務
                  p.ranking-article-title 「億り人」になる最後の決め手は、知識でも初期資金量…
            li
              a(href="#")
                .ranking-article-image
                  img(src="http://via.placeholder.com/100x100/a17164/fff/?text=ranking02", alt="")
                .ranking-article-introduction
                  p.ranking-article-icon
                    span.houmu 法務
                  p.ranking-article-title 「億り人」になる最後の決め手は、知識でも初期資金量…
            li
              a(href="#")
                .ranking-article-image
                  img(src="http://via.placeholder.com/100x100/a17164/fff/?text=ranking03", alt="")
                .ranking-article-introduction
                  p.ranking-article-icon
                    span.houmu 法務
                  p.ranking-article-title 「億り人」になる最後の決め手は、知識でも初期資金量…
            li
              a(href="#")
                .ranking-article-image
                  img(src="http://via.placeholder.com/100x100/a17164/fff/?text=ranking04", alt="")
                .ranking-article-introduction
                  p.ranking-article-icon
                    span.houmu 法務
                  p.ranking-article-title 「億り人」になる最後の決め手は、知識でも初期資金量…
            li
              a(href="#")
                .ranking-article-image
                  img(src="http://via.placeholder.com/100x100/a17164/fff/?text=ranking05", alt="")
                .ranking-article-introduction
                  p.ranking-article-icon
                    span.houmu 法務
                  p.ranking-article-title 「億り人」になる最後の決め手は、知識でも初期資金量…
        section.ad-area
          p
            a(href="#")
              img(src="http://via.placeholder.com/300x250/ccc/fff/?text=Ad", alt="")
        section.banner-area
          p.banner
            a(href="#")
              img(src="http://via.placeholder.com/300x80/666/fff/?text=Bnr01", alt="")
          p.banner
            a(href="#")
              img(src="http://via.placeholder.com/300x80/666/fff/?text=Bnr02", alt="")
        section#experts
          h2 専門家紹介
          ul
            li
              a(href="#")
                .experts-image
                  p
                    img(src="http://via.placeholder.com/80x80/283962/fff/?text=spc01", alt="")
                .experts-personality
                  p.experts-category 弁護士
                  p.experts-name 丸山 丸男
                  p.experts-office （丸川事務所 所属）
            li
              a(href="#")
                .experts-image
                  p
                    img(src="http://via.placeholder.com/80x80/283962/fff/?text=spc02", alt="")
                .experts-personality
                  p.experts-category 弁護士
                  p.experts-name 丸山 丸男
                  p.experts-office （丸川事務所 所属）
            li
              a(href="#")
                .experts-image
                  p
                    img(src="http://via.placeholder.com/80x80/283962/fff/?text=spc03", alt="")
                .experts-personality
                  p.experts-category 弁護士
                  p.experts-name 丸山 丸男
                  p.experts-office （丸川事務所 所属）
            li
              a(href="#")
                .experts-image
                  p
                    img(src="http://via.placeholder.com/80x80/283962/fff/?text=spc04", alt="")
                .experts-personality
                  p.experts-category 弁護士
                  p.experts-name 丸山 丸男
                  p.experts-office （丸川事務所 所属）
            li
              a(href="#")
                .experts-image
                  p
                    img(src="http://via.placeholder.com/80x80/283962/fff/?text=spc05", alt="")
                .experts-personality
                  p.experts-category 弁護士
                  p.experts-name 丸山 丸男
                  p.experts-office （丸川事務所 所属）
        section.ad-area
          p
            a(href="#")
              img(src="http://via.placeholder.com/300x250/ccc/fff/?text=Ad", alt="")
        section#twitter
          p TWITTER_Area
        section.banner-area
          p.banner
            a(href="#")
              img(src="http://via.placeholder.com/300x80/666/fff/?text=Bnr03", alt="")
    // /contents
    include inc/_footer
